.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
src/Qt/build/**
src/Python/__pycache__/**
src/java/bin/**
src/C#/obj/**
src/C#/bin/**
src/javascript/node_modules/**
src/Cpp/**
src/C/**
